<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Internship_Programs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Question6</display-name>
    <servlet-name>Question6</servlet-name>
    <servlet-class>com.Question6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question6</servlet-name>
    <url-pattern>/question6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeBean</display-name>
    <servlet-name>EmployeeBean</servlet-name>
    <servlet-class>com.EmployeeBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeBean</servlet-name>
    <url-pattern>/EmployeeBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBean</display-name>
    <servlet-name>UserBean</servlet-name>
    <servlet-class>com.UserBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBean</servlet-name>
    <url-pattern>/UserBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>com.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>com.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSigupController</display-name>
    <servlet-name>UserSigupController</servlet-name>
    <servlet-class>com.UserSigupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSigupController</servlet-name>
    <url-pattern>/UserSigupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question5</display-name>
    <servlet-name>Question5</servlet-name>
    <servlet-class>com.Question5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question5</servlet-name>
    <url-pattern>/Question5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question4</display-name>
    <servlet-name>Question4</servlet-name>
    <servlet-class>com.Question4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question4</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>